* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  font-family: "Nanum Myeongjo", serif;
  color: var(--txt_color);
  overflow-x: hidden;
  
}
a {
  text-decoration: none;
  color: #272727;
  display: inline-block;
}
li {
  list-style: none;
}
.m_btn {
  display: none;
}
.hidemenu {
  display: none;
}
.eng_txt {
  font-family: "Cormorant SC", serif;
  font-size: 32px;
  color: var(--title_color);
}
img {
  border: none;
}
input,
button {
  outline: none;
  border: none;
  background: none;
}

#main_img {
  width:var(--m_width);
  margin: 0 auto;
  position: relative;
overflow: hidden;
}

.slide_box {display: flex; position: relative;
width: 3600px;
height: auto;  
margin: 0 auto;
padding-top: 20px;}
.slide {
  width: 100%;
  position: relative;
}
.slide_box img {
  width: var(--m_width);
  height: auto;
}
.main_txt {
  line-height: 26px;
}
.main_txt1 {
  position: absolute;
  top: 100px;
  right: 150px;
}
.img_title {
  font-size: 48px;
  margin-bottom: 50px;
}
.img_btn {
  margin-top: 55px;
  font-size: 18px;
  position: relative;
  padding: 2px 12px;
  text-align: center;
  
  /* border-bottom: 1px solid var(--m_color); */
}
.img_btn::before, .new_txt h3::before  {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width:0;
    height: 0;
  
    /* background-color:transparent; */
    /* border: 1px solid transparent; */
    border: 1px solid transparent
}

.img_btn:hover::before , .new_txt h3:hover::before{
  animation: line .2s linear forwards;
}
@keyframes line {
 0% {
   width: 0;
   height: 0;
 }
 50% {
   width: 100%;
   height: 0;
   border-bottom-color: var(--m_color) ;
 }
 100% {
  width: 100%;
  height: 100%;
  border-bottom-color: var(--m_color) ;
  border-right-color: var(--m_color);
 }
}
.img_btn::after, .new_txt h3::after {
  content: '';
    display: inline-block;
    position: absolute;
  top: -2px;
  right: -2px;
  width:0;
  height: 0;
  border: 1px solid transparent;
  
}
.img_btn:hover::after,  .new_txt h3:hover::after {
  animation: line2 .3s linear forwards;
  animation-delay: .3s;
}
@keyframes line2 {
 0% {
   width: 0;
   height: 0;
 }
 50% {
   width: 100%;
   height: 0;
   border-top-color: var(--m_color) ;
    
 }
 100% {
  width: 100%;
  height: 100%;
  border-top-color: var(--m_color) ;
  border-left-color: var(--m_color);
  
 } 
}
.main_txt2 {
  position: absolute;
  top: 70px;
  left: 130px;
}
.main_txt3 {
  position: absolute;
  top: 170px;
  right: 10px;
}

#slidebtn {
 display: flex;
  position: absolute;
  bottom: 10px;
  right: 10%;
  width: 60px;
  margin-left: 90%;
  
}
#slidebtn > li a {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--m_color);

  border-radius: 50%;
  margin-right: 5px;
}
#slidebtn > li a.on {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--m_color);
  border-radius: 50%;
  margin-right: 5px;
}
/*#best_wrap {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid var(--m_color);
    border-bottom: 1px solid var(--m_color);
    padding: 30px 0;
}*/
#best {
  width: var(--m_width);
  margin: 0 auto;
}
#best::after,
#best::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: var(--m_color);
  margin: 30px 0;
}
#best::before {
  margin-top: 0;
}

#best h2 {
  display: inline-block;
  padding-right: 10px;
}
.best_title {
  text-align: center;
  display: block;
}
.best_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  position: relative;
}
.best_item .item {
  margin-right: 14px;
  margin-bottom: 8px;
  width: 277px;
  height: 281px;
  overflow: hidden;
}
.best_item .item:nth-child(4),
.best_item .item:nth-child(8) {
  margin-right: 0;
}
.best_item li {
  position: relative;
  cursor: pointer;
}
.item img {
  width: 100%;
  transition: all .5s;
}
.item p {
  position: absolute;
  bottom: 20%; text-align: center;
  line-height: 3.5;
  width: 100%; font-weight: bold;
  transition: all .7s;
  opacity: 0;
}
.best_item .item:hover img {
  opacity: .8;
  transform: scale(1.1);
}
.best_item .item:hover p {
  opacity: 1;
}
#collection_wrap {
  width: var(--m_width);
  margin: 0 auto;
  padding: 120px 0;
}
article {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid var(--m_color);
  padding: 80px 0 20px 0;
}
.col1_item,
.col2_item {
  display: flex;
  border: 1px solid #ccc;
}
.col1_item ul li,
.col2_item ul li {
  height: 160px;
}
.col1_item ul li a,
.col2_item ul li a {
  height: 100%;
  border-bottom: 1px solid #ccc;
}
.col1_item ul li a {
  border-left: 1px solid #ccc;
}
.col2_item ul li a {
  border-right: 1px solid #ccc;
}
.col1_item ul li:nth-child(3) a,
.col2_item ul li:nth-child(3) a {
  border-bottom: none;
}
.col_ul li a img {
  width: 100%;
  height: 100%;
}
.collection1 > h2 {
  margin-left: 210px;
  cursor: pointer;
}
article h2 {
  padding: 20px 0 10px 0;
}
.collection1 > h2::after {
  content: "";
  display: block;
  width: 70px;
  border-bottom: 2px solid var(--m_color);
  transition: all .7s;
}
.collection2 > h2 {
  margin-left: 170px;
  cursor: pointer;
}
.collection2 > h2::after {
  content: "";
  display: block;
  width: 60px;
  margin-left: -5px;
  border-bottom: 2px solid var(--m_color);
  transition: all .7s;
}
.collection2:hover  h2::after, .collection1:hover  h2::after  {
  width: 60%;
}
.collection_title {
  font-size: 26px;
}

#new {
  width: var(--m_width);
  margin: 0 auto;
  border-top: 1px solid var(--m_color);
  border-bottom: 1px solid var(--m_color);
  padding: 50px 30px 122px 30px;
  height: auto;
}
#new h2 {
  text-align: center;
  margin-bottom: 50px;
}
#new ul {
  display: flex;
  justify-content: space-between;
}
#new ul li {
  width: 300px;
  height: 380px;
  border: 1px solid var(--m_color);
  text-align: center;
}
#new ul li > img {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.new_txt h3 {
  color: var(--title_color);
  font-size: 24px;
  width: 200px;
  padding-bottom: 5px;
  padding-top: 10px;
  margin: 0 auto;
  border-bottom: 1px solid var(--m_color);
  position: relative;
}
.new_txt {
  margin-top: 50px;
}
.new_txt p {
  font-size: var(--ft_font);
  margin-top: 30px;
  padding: 0 25px;
  line-height: 26px;
}

.new_txt h3:hover{
  border-bottom: none;
}
/*κ²½ν—,μ„Έν…*/
#info_wrap {
  margin-top: var(--mpL);
  height: auto;
  width: 100vw;
  background-image: url(../img/footer_img.png);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
}
.info {
  width: var(--m_width);
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  justify-content: center;
}
.info i {
  font-size: 14px;
}
.box1_txt {
  width: 100%; padding-top: 70px;
position: relative; top: -500px;
}
.box2_txt {
  position: relative; top: -500px;
}
.box1_txt > p,
.box2_txt > p {
  color: #535355;
  line-height: 25px;
  font-weight: 600;
}
.info_box1 {
  flex: 1;
  text-align: right;
  margin-right: 150px;
  overflow: hidden;
}
.info_box2 {
  flex: 1;
  margin-left: 150px;
  overflow: hidden;
}
.info_box1 h5 {
  margin-top: 40px;
  padding-right: 20px;
  font-size: 16px;
  display: inline-block;
  opacity: 0; 
}
.info_box1 i {
  opacity: 0; }
.box1_txt > h2,
.info_box2 > h2 {
  color: var(--txt_color);
  padding-bottom: 60px;
}
.box2_txt > p {
  padding-bottom: 15px;
}
.box2_txt > p:nth-child(1) i {
  padding-left: 13px;
}
.box2_txt > p:nth-child(2) i {
  padding-left: 50px;
}

@media all and (max-width: 1024px) and (min-width : 769px) {
  .slide_box  {
    display: none;
  }
  #main_img {
    width: 100%;
    height:auto;
  }
  #main_img img {
    width: 100%;
    height: 100%;
  }

  .main_txt p {
    display: none;
  
  }
  .img_title {
    font-size: 38px;
  }
  .main_txt1 {
    top: 100px;
    right: 180px;
  }

  
  .main_txt2 {
    top:80px;
    left: 160px;
    width: 600px;
  }
  .main_txt3 {
    top: 100px;
    right: 30px;
  }

  #slidebtn {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 30px;
    display: none;
  }
  #slidebtn > li a {
    width: 10px;
    height: 10px;
  }
  #slidebtn > li a.on {
    width: 10px;
    height: 10px;
  }
  #best {
    width: 100%;
    margin: 0 auto;
  }
  .best_item {
    width: 100%;
  }
  .best_item .item {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .img_btn {
    display: none;
  }
  .best_item .item:nth-child(4){
    margin-right: 10px;
  }
  /* .best_item .item:nth-child(3), */
.best_item .item:nth-child(6) {
  margin-right: 0;
}
.best_item .item:nth-child(7),  .best_item .item:nth-child(8){
  display: none;
}
  #collection_wrap {
    width: 100%;
  }
  .col_ul {
    display: none;
  }
  article {
    width: 100%;
    border: none;
  }
  article h2 {
    padding: 10px;
    text-align: center;
  }
  .collection1 > h2 {
    margin-left: 0px;
  }
  .collection2 > h2 {
    margin-left: 0px;
  }
  .collection2 > h2::after {
    margin-left: 23%;
  }
  .collection1 > h2::after {
    margin-left: 27%;
  }
  #new {
    width: 100%;
  }
  #info_wrap {
    background-image: url(../tiffany&co/footer_img.png);
    background-position: center;
    width: 100%;
    height: 300px;
  }
  .info {
    width: 100%;
    height: 450px;
  }
  .info_box1 {
    padding: 0;
    margin: 0;
  }
  .info_box1 h5 , .info_box1 i {
    opacity: 1; position: relative;
    bottom: 20px;
  }
  .box2_txt { top: -20px;}
  .info_box1 p {
    display: none;
  }
  .info_box1 a {
    padding-bottom: 50px;
  }
  .m_none {
    display: none;
  }
}
@media all and (max-width: 768px) {

 #main_img {
 display: none;}
  #best {
    width: 100%;
    margin: 0;
    margin-left: 3%;
    padding: 0;
  }
  .best_item {
    display: flex;
    margin-top: 25px;
    
  }
  .best_item .item:nth-child(1), .best_item .item:nth-child(4),
  .best_item .item:nth-child(5),.best_item .item:nth-child(6){
    display: none;
  }
  .best_item .item {
    margin-bottom: 2px;
    width: 40%;
    height: auto;
    transition: all .6s;
  }
  .best_item .item:nth-child(2), .best_item .item:nth-child(8)  {
    margin-right: 10px;
  }
  .best_item .item img {
    width: 100%;
  }
  #new {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    padding-top: 20px;
  }
  .new_txt p {
    display: none;
  }
  .new_txt {
    margin: 0;
    padding: 0 5px;
  }
  #new {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid var(--m_color);
    border-bottom: none;
    padding: 10px 0;
    
  }
  #new h2 {
   
    margin: 20px 0;
  }
  #new ul {
    display: block;
   
  }
  #new ul li {
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    position: relative;
    
  }
  #new ul li h3 {
    font-size: 16px;
    padding: 0 0 0 15px;
    border: none;
    position: absolute;
    top: 20px;
    margin: 0 ;
    background:url(../img/m_ico.png) no-repeat center;
    text-align: left;
    line-height: 50px;
    background-size: 200px;
    color: #fff;
  }
 
 
  #info_wrap{
    height: 320px;
    margin: 0;
  }
  .info_box1 {
    display: none;
  }
  .info_box2{
    margin-left: 0;
  }
  #collection_wrap {
    width: 100%;
    padding: 0;
  }
  article {
    display: block;
    width: 100%;
    border: none;
    padding: 20px 0;
    text-align: center;
    height: auto;
    margin: 0;
  }
  .col1_box , .col2_box {
    width: 100%;
    height: 250px;
    padding: 20px 0;
  }
  .col1_item,
.col2_item { border: none;}
  .col1_box {
    background: url(../img/h_img.jpg) no-repeat center;
  }
  .col2_box {
    background: url(../img/year_img.png) no-repeat center;
  }
  .col1_item img,
  .col2_item img {
    display: none;
  }
  .collection1 > h2::after , .collection2 > h2::after{
    display: none; 
  }
  .m_none {
    display: none;
  }
  .m_btn {
    display: block;
    position: relative;
    bottom: 35px;
    left: 90%;
    cursor: pointer;
    font-size: 32px;
  }
  .info_box2 h2 {
    margin-left: 10%;
  }
  .box2_txt {
    top: -25px;
  left: 10%;
  }
  .footer_in2 ul{
    width: 100%;
  }
  .footer_in2 ul li:last-child {
    padding-right: 0;
  }
  .m_menu {
    width: 100%;
    height: auto;
    background-color: var(--m_color);
    text-align: center;
    color: #fff; 
    cursor: pointer;
  }
  .m_menu li {
    width: 80%; margin: 0 auto;
    height: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .6;
  }
  .m_menu li:last-child {
    margin-bottom: 0;
}
  .m_menu li:hover {
    font-weight: bold; text-shadow: 1px 1px 4px #9c9c9c;
  }
  .item p {
    bottom: 10%; 
    line-height: 2.5;
    
  }
}
